
  

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:linear-gradient(rgba(185, 91, 236, 0.9),rgba(237, 28, 150, 0.9)),url('../public/R.png');
  width: 500px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 8px;
}
.App h1{
  text-align: center;
}
.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px
}
.form input[type="text"]{
  padding:10px;
  width: 85%;
  border: 1px solid #eee;
  border-radius: 6px;
}
.form input[type="text"]:focus,
.form button[type="submit"]:focus{
  outline:none;
}
.form button[type="submit"]{
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer
}
.todo-listItems{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.todo-item{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px
}
.item-content{
  width: 60%
}
.todo-item button{
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px
}
.todo-item button:focus{
  outline:none
}
.update-item{
  background-color: goldenrod;
  color:#fff;
}
.delete-item{
  background-color: red;
  color:#fff;
}
.update-form{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.update-new-input{
  width: 80%;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 8px;
  outline: none;
}
.update-new-btn{
  background-color: darkorchid;
  color: #fff;
  cursor: pointer;
}
.inp{
  width: 50%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
   border-radius:25px ;
   padding: 2px 4px;
  margin-bottom: 20px;

}
.inp input{
  background: transparent;
  flex:1;
  border:0;
  outline:none ;
  padding: 2px 4px;
  font-size: 15px;
  color: #0e090f;
}
